.box__dragndrop,
.box__uploading,
.box__success,
.box__error {
  display: none;
}

.box__dragndrop {
  display: inline;

}

.box__input {
  background-color: white;
  outline: 5px dashed #00025e;
  outline-offset: -10px;
}

div#emptyTrack, #newTrack, #DNDContainer {
  padding: 4rem 1.25rem;
}

#DNDContainer {
  border: 4px dashed #0E6EB8;
  border-left:0;
  border-bottom-right-radius: 2em;
  border-top-right-radius: 2em;
}

#emptyTrack {
  border: 4px dashed #0E6EB8;
  border-bottom-left-radius: 2em;
  border-top-left-radius: 2em;

}

i.plus {
  background: white;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}

p.blue {
  font-size: 1.4em;
  color: #0E6EB8;
}

#emptyTrackButton, p.blue {
  margin-top:0.4em;
}
