<div class="ui equal width center aligned padded grid">
  <div id="newTrack" class="row">
    <div id="emptyTrack" class="center aligned column">
      <button id="emptyTrackButton" class="ui blue basic huge button">Empty Track</button>
    </div>
    <i class="ui huge plus blue square outline icon"></i>
    <div id="DNDContainer" class="column" ngFileDrop ngFileSelect
         (click)="file.click()"
         [options]="options"
         (uploadOutput)="onUploadOutput($event)"
         [uploadInput]="uploadInput"
         [ngClass]="{ 'is-drop-over': dragOver }">

      <!--***** Start of upload text ******-->
      <div class="upload-item" *ngFor="let f of files; let i = index;">
        <div class="upload-item-content">
          <div class="filename">
            <i class="ionicon ion-ios-copy"></i>
            <span>{{ f.name }}</span>
          </div>
          <div class="progress-content">
            <div class="progress">
          <span class="bar" [style.width]="f?.progress?.data?.percentage + '%'"
                [class.is-done]="f?.progress?.data?.percentage === 100"></span>
            </div>
          </div>
          <div class="progress-text-content">
        <span class="progress-text" [class.is-done]="f?.progress?.data?.percentage === 100">
            <span>{{ f.progress?.data?.percentage }}% </span>
            <span *ngIf="f.progress?.data?.percentage !== 100">Uploading...</span>
            <span *ngIf="f.progress?.data?.percentage === 100">Done</span>
        </span>
            <span class="speed-and-eta-text"
                  *ngIf="f.progress?.data?.percentage !== 0 && f.progress?.data?.percentage !== 100">
            <span>{{ f.progress?.data?.speedHuman }} </span>
            <span>ETA {{ f.progress?.data?.etaHuman }}</span>
        </span>
          </div>
        </div>
      </div>
      <!--***** End of upload text ******-->
      <input type="file" id="trackUpload" ngFileSelect
             [uploadInput]="uploadInput"
             [options]="options"
             (uploadOutput)="onUploadOutput($event)" hidden #file>
      <span id="fileUploadForm">
        <p class="blue">Upload from disk <i class="ui upload big icon blue"></i></p>
      </span>
    </div>
  </div>
</div>
