<div class="TrackControlPanel ui container two column wide" style="border: 2em #0e8c8c;">
  <div class="track">
    <span>Track Name </span><input type="text" value="Track 1">
  </div>

  <div style="margin:auto">
    <input type="range" style="margin-left:1em">
    <i style="margin-left:1em;margin-top:-1em" class="volume up icon header"></i>
    <br/>
  </div>
</div>

<app-drag-and-drop-upload (uploadInput)="analyzeFile($event)">



</app-drag-and-drop-upload>
<div id="waveformPlaceholder" height="200" width="1366"></div>
<svg width="100" height="100" class="ui container fourteen column wide" >
  <line x1 = 0
        y1 = 200
        x2 = 300
        y2 = 250 style="stroke:rgb(255,0,0);stroke-width:1"></line>
  <line style="stroke:rgb(255,0,0);stroke-width:1"></line>
  <circle r="25" cx="70" cy="70" stroke="currentColor" fill="none" stroke-width="5"></circle>
</svg>
