<script src="https://unpkg.com/wavesurfer.js"></script>
<div id="waveform">

</div>
<script>
  var wavesurfer = WaveSurfer.create({
  container: '#waveform',
  waveColor: 'blue',
  progressColor: 'sky'
});
  wavesurfer.load('rondoMefistofele.wav');
</script>

